@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

h1 {
    font-family: 'Montserrat', sans-serif;
}

@keyframes title_start {
    0% {opacity: 0%; margin-top: 150px;}
    25% {opacity: 0%; margin-top: 150px;}
    100% {opacity: 100%; margin-top: 62px;}
}

#header {
    width: 30%;
    margin-top: 100px;
}

#title {
    float: right;
    margin-top: 62px;
    animation-name: title_start;
    animation-duration: 2s;
}

html {
    margin: 0;
}

